Cython==0.29.21
deepface==0.0.48
Flask==1.1.2
gdown==3.12.2
google-auth==1.24.0
google-auth-oauthlib==0.4.2
google-pasta==0.2.0
gunicorn==20.0.4
imutils==0.5.3
Jinja2==2.11.2
Keras==2.4.3
Keras-Preprocessing==1.1.2
matplotlib==3.3.3
numpy==1.19.4
opencv-python==4.4.0.46
Owlready2==0.26
pandas==1.1.5
Pillow==8.0.1
scikit-image==0.18.0
scikit-learn==0.23.2
scikit-neuralnetwork==0.7
scipy==1.5.4
sklearn==0.0
tensorboard==2.4.0
tensorboard-plugin-wit==1.7.0
tensorflow==2.4.0
tensorflow-estimator==2.4.0