<html>

<head>
  <meta charset="UTF-8">

  <title>Emotion Recognition</title>
  <link rel="shortcut icon" href="#">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>

<body>
  <div class="buttonHolder">
    <h2 style="font-family: Helvetica, Arial, sans-serif;">Emotion Detection Training for Caregivers 🧑‍⚕️</h2>
  </div>
  <div class="container">
    <img src="{{ url_for('video_feed') }}" class="image" />

    <div id="overlay">
      <div class="overlay">Face: <p id=emosh>{{emosh}}</p>
      </div>
      <div class="overlay-voice">Voice: <p id=emosh>{{emosh}}</p>
      </div>
      <button class="btn" id="dismiss" method="POST">Dismiss</button>
      <div class=" overlay-bar" id="emoji">
        {% set emoji_global = emoji %}
        {% for em in emoji_global %}
        <form id="vote" method="POST" value="{{loop.index}}"> {{em}} </form>
        {% endfor %}
      </div>
    </div>

  </div>
  <div>
    <p id=interval style="font-size: 10; font-style: italic; color: gray;">current interval: {{interval}}</p>
  </div>
  <div class="buttonHolder">
    <input onclick="update_overlay() " type="button" value="Refresh" id=refresh style="display:inline-block;">
    <input onclick="show()" type="button" value="Show" id=show style="display:none;">
  </div>

  <script type='text/javascript'>
    var globalTimeInt;
  </script>
  <script type=text/javascript>
    function update_overlay() {
            $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
            $.getJSON($SCRIPT_ROOT+"/_update",
                function(data) {
                  data_emojis = data.emoji;
                  $("#emosh").html(data.emosh)
                  
                  // update emoji bar
                  $('form#vote').each(function(index){
                    $(this).html(data.emoji[index])
                  })

                  if (globalTimeInt !== null) {
                    clearTimeout(globalTimeInt);
                  }
                  $("#interval").text("current interval: "+data.interval)
                  globalTimeInt = setTimeout(update_overlay, parseInt(data.interval));
                });   
    }
  </script>
  <script>
    // initiate regular overlay update
    update_overlay();
  </script>

  <script type=text/javascript>
            $(function() {
              $('body').on('click' , 'form#vote',function(e) {
                e.preventDefault()
                $.ajax({
                        type: 'POST',
                        url: '/count',
                        data: {'data': e.target.innerHTML},
                        success: function() {
                          update_overlay(); 
                        },
                        error: function() {
                            alert("Oops! Something went wrong.");
                        }
                });
                return false;
              });
              
            });
  </script>
  <script type=text/javascript>
    $(function() {
      $('body').on('click', 'button#dismiss',function(e) {
        e.preventDefault()
        $.ajax({
                type: 'POST',
                url: '/dismiss',
                data: 'nothing',
                success: function() {
                    
                },
                error: function() {
                    alert("Oops! Something went wrong.");
                }
        });
        var button = document.getElementById('show');
        var refresh_button = document.getElementById('refresh');
        var x = document.getElementById('overlay');
        if (x.style.display === "none") {
          x.style.display = "block";
        } else {
          x.style.display = "none";
        }
        if (button.style.display === "none") {
          button.style.display = 'inline-block'
        } else {
          button.style.display = 'none'
        }
        refresh_button.style.display = 'none';

        return false;
      });
    });
  </script>

  <script type=text/javascript>
    function show() {
          var button = document.getElementById('show');
          var refresh_button = document.getElementById('refresh');
          var x = document.getElementById('overlay');
          if (x.style.display === "none") {
            x.style.display = "block";
          } else {
            x.style.display = "none";
          }
          if (button.style.display === "none") {
            button.style.display = 'inline-block'
          } else {
            button.style.display = 'none'
          }
          refresh_button.style.display = 'inline-block'
        }
  </script>
</body>

</html>