<html>

<head>
  <meta charset="UTF-8">

  <title>Emotion Recognition</title>
  <link rel="shortcut icon" href="#">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>

<body>
  <div class="buttonHolder">
    <h2 style="font-family: Helvetica, Arial, sans-serif;">Emotion Detection Training for Caregivers 🧑‍⚕️</h2>
  </div>
  <div class="container">
    <img src="{{ url_for('video_feed') }}" class="image" />

    <div id="overlay">
      <div class="overlay">Face: {{emosh}}</div>
      <div class="overlay-voice">Voice: {{emosh}}</div>
      <button class="btn" id="dismiss" method="POST">Dismiss</button>
      <!-- onclick="hide()" -->
      <div class=" overlay-bar">
        {% for em in emoji %}
        <form id="vote" method="POST" value="{{loop.index}}"> {{em}} </form>
        {% endfor %}
      </div>
    </div>

  </div>
  <div class="buttonHolder">
    <input onclick="window.location='/response';" type="button" value="Refresh" id=refresh>
  </div>

  <script type=text/javascript>
            $(function() {
              $('form#vote').on('click', function(e) {
                e.preventDefault()
                $.ajax({
                        type: 'POST',
                        url: '/count',
                        data: {'data': e.target.innerHTML},
                        success: function() {
                            alert(e.target.innerHTML+' gets an upvote!');
                        },
                        error: function() {
                            alert("Oops! Something went wrong.");
                        }
                });
                
                return false;
              });
              
            });
  </script>
  <script type=text/javascript>
    $(function() {
      $('button#dismiss').on('click', function(e) {
        e.preventDefault()
        $.ajax({
                type: 'POST',
                url: '/dismiss',
                data: 'nothing',
                success: function() {
                    
                },
                error: function() {
                    alert("Oops! Something went wrong.");
                }
        });
        var button = document.getElementById('refresh');
        var x = document.getElementById('overlay');
        if (x.style.display === "none") {
          x.style.display = "block";
        } else {
          x.style.display = "none";
        }
        if (button.value == 'Refresh') {
          button.value = 'Show'
        } else {
          button.value = 'Refresh'
        }
        return false;
      });
    });
  </script>

  <script>
    window.setInterval('refresh()', {{ interval }});

    // Refresh or reload page.
    function refresh() {
      window.location.reload();
    }
  </script>
</body>

</html>