* {
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
}

/* Container needed to position the overlay. Adjust the width as needed */
.container,
.buttonHolder {
  position: relative;
  width: 50%;
  max-width: 600px;
}

/* Make the image to responsive */
.image {
  display: block;
  width: 100%;
  height: auto;
}

/* The overlay effect - lays on top of the container and over the image */
.overlay,
.overlay-voice,
.overlay-bar {
  position: absolute;
  left: 5%;
  top: 8%;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 20%;
  /* height: 130px; */

  transition: 0.5s ease;
  opacity: 0.5;
  color: white;
  font-size: 18px;
  padding: 25px;
  text-align: center;
  border-radius: 5%;
}

.overlay-voice {
  left: 75%;
}

.overlay-bar {
  left: auto;
  top: auto;
  right: auto;
  bottom: 0;
  width: 100%;
  padding: 2%;
  border-radius: 0;
}

/* When you mouse over the container, fade in the overlay title */
.container:hover .overlay,
.container:hover .overlay-voice,
.container:hover .overlay-bar {
  opacity: 1;
}

/* div.sleep {
  opacity:0.5;
} */

form {
  display: inline-block;
  background-color: transparent;
  font-size: 32px;
  margin: 0;
}
form:hover {
  background-color: greenyellow;
  cursor: pointer;
}

input[type="button"] {
  color: white;
  border: none;
  background-color: rgb(129, 127, 127);
  padding: 1% 1%;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  margin: 1% 1%;
  cursor: pointer;
}

input[type="button"]:hover {
  background-color: rgb(65, 63, 63);
}

#refresh,
#show {
  background-color: white;
  color: black;
}

#refresh:hover,
#show:hover {
  background-color: yellow;
}

.buttonHolder {
  text-align: center;
}

/* Style the button and place it in the middle of the container/image */
.container .btn {
  position: absolute;
  bottom: 18%;
  left: 85%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: rgb(32, 33, 34);
  color: white;
  font-size: 14px;
  font-family: Helvetica;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.container .btn:hover {
  background-color: black;
  color: white;
}
